* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jua", sans-serif;
}

.logo__navbar {
  width: 6rem;
  height: 4rem;
}

.pie__pagina {
  width: 100%;
  height: 10%;
  max-width: 100%;
  padding: 1rem;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  text-align: center;

  .texto__pie {
    color: white;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
}

.contenedor__global {
  display: flex;
  justify-content: space-evenly;
  height: 80.7vh;
  padding: 4rem 4rem 3rem 4rem;
  background-color: orange;

  .texto__global {
    text-align: left;
    line-height: 3;
    color: white;
    width: 25rem;
  }

  .carousel__global {
    width: 30%;
    height: 30%;
  }
}

.contenedor__nosotros {
  @extend .contenedor__global;
  background-image: url(../img/fondonosotros.png);
  background-size: cover;
  background-position: center;
}

.contenedor__cuidado {
  @extend .contenedor__global;
  background-image: url(../img/fondocuidado.png);
  background-size: cover;
  background-position: center;
}

.contenedor__contacto {
  @extend .contenedor__global;
}

.carousel__global--nosotros {
  width: 36%;
  height: 36%;
}

.d-block {
  border: blueviolet 10px solid;
  border-style: dashed;
}

@media only screen and (max-width: 1080px) {
  .contenedor__global {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8rem;
    height: 70rem;

    .carousel__global {
      width: 25rem;
    }

    .texto__global {
      line-height: 2;
      h3 {
        width: 15rem;
      }
    }
  }

  .carousel__global--nosotros {
    width: 30rem;
  }
}

@media only screen and (max-width: 800px) {
  .contenedor__global {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    height: auto;

    .carousel__global {
      width: 20rem;
      height: auto;
      margin-top: 2rem;
    }

    .texto__global {
      line-height: 2;
      width: 20rem;
      h3 {
        width: 10rem;
      }
    }
  }
  .carousel__global--nosotros {
    width: 20rem;
    height: auto;
    margin-bottom: 2rem;
  }
}
