.contenedor__home {
  width: 100%;
  height: 80.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-image: url(../img/portada.png);
  background-color: orange;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1080px) {
  .contenedor__home {
    height: 90vh;
  }
}

@media only screen and (max-width: 700px) {
  .contenedor__home {
    height: 85vh;
    background-image: url(../img/portada2.png);
  }
}
